@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <h2 class="display-6">Este é um estudo de Crud com MVC em asp.net</h2>

    <div class="list-group ">
        <ul style="list-style: none;">
            <li class="list-group-item list-group-item-action active">
                <h4>Acesse algumas informações minhas</h4>
            </li>
            <li><a href="https://www.linkedin.com/in/hxsggsz/" target="_blank"
                    class="list-group-item list-group-item-action">Linkedin</a></li>
            <li><a href="https://github.com/hxsggsz" target="_blank"
                    class="list-group-item list-group-item-action">Github</a></li>
            <li><a href="mailto:vt.hugo.2021@gmail.com" target="_blank"
                    class="list-group-item list-group-item-action">Gmail</a></li>
        </ul>
    </div>
</div>
